body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #bbded6;
  font-size: 200%;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66bfbf;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66bfbf;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999e;
}

.BUTTON_AHP {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 40px;
   font-weight: 100;
   padding: 40px;
   background-color: #3DF6DA;
   box-shadow: 1px 1px 20px 0px #000000;
   -webkit-box-shadow: 1px 1px 20px 0px #000000;
   -moz-box-shadow: 1px 1px 20px 0px #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_AHP:hover {
   background: #D200FF;
   border: solid #E500FF 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
a{
  color: #11999e;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height:2;
}
.skill_math{
  font-size: small;


}
.skill_coding{
  font-size: small;

}
.gify1{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.gify2{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.Tedd{
  margin-top: 30px;
}
p{
  color: #40514e;
}
hr {
border-color: #EAF6F6;
border-style: dotted none none;
border-width: 5px;
width: 5%;
}


/*hr{



  border-style: dotted none none;
}*/


/*

div{
  background-color: #EAF6F6;         }
     */
.top-container {
  background-color: #EAF9F5;
  border: 10px;
  padding: 20px;
  position: relative;
  padding-top: 100px;

}

.middle-container {
  background-color: #bbded6;

  position: relative;
  padding-bottom: 100px;

}

.bottom-container {
background-color: #66BFBF;
position: relative;
top: 25px;
color: #EAF6F6;
font-size: 0.75rem;
text-align: middle;
padding: 50px;



}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.footer-link{

}


.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.Copy-write{
  color:#EAF6F6;
  position: relative;
  top: 25px;
  font-size: 0.75rem;
  text-align: middle;
  padding: auto;

}

.testbutton {
  font-family: arial;
  font-weight: bold;
  color: #43FFF8 !important;
  font-size: 21px;
  text-shadow: 1px 1px 0px #5A7CA1;
  box-shadow: 1px 1px 1px #DF0DFF;
  padding: 10px 25px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #000000;
  background: #63B8EE;
  background: linear-gradient(top,  #DE0AFF,  #00F7FF);
  background: -ms-linear-gradient(top,  #DE0AFF,  #00F7FF);
  background: -webkit-gradient(linear, left top, left bottom, from(#DE0AFF), to(#00F7FF));
  background: -moz-linear-gradient(top,  #DE0AFF,  #00F7FF);
  text-decoration: none;
}
.testbutton:hover {
  color: #05FFF7 !important;
  background: #468CCF;
  background: linear-gradient(top,  #000000,  #08FFA4);
  background: -ms-linear-gradient(top,  #000000,  #08FFA4);
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#08FFA4));
  background: -moz-linear-gradient(top,  #000000,  #08FFA4);
}
